* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Tahoma, Verdana, sans-serif;
}
body {
  background: #047469;
}
#header {
  background-color: #41ae6d;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  height: 60px;
}

#header a {
  color: white;
}
button {
  padding: 7px 15px;
  background-color: #ffd700;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-left: 70%;
}
label {
  display: block;
  margin-top: 40px;
  margin-left: 35px;
  color: white;
}

input {
  border-radius: 20px;
  margin: 15px 25px;
}

input[type="text"] {
  width: 90%;
  padding: 10px 15px;
  color: white;            
  background-color: transparent;
  border:  1px solid white;           
  outline: none;             
  font-size: 16px;
  text-align: left;      
}

.ritesh {
  color: white;
  padding: 350px 30px;
  margin-top: 70px;
  
}
img {
  width: 70px;
  height: auto;
}

.product {
  display: flex;
  align-items: center;
  gap: 160px;
  max-width: 1000px;
  margin-top: 10px;
}

.first{
  background-color: yellow;
}






.result-box {
  border: 1px solid #ddd;
  max-width: 450px;
  background: #fff;
  margin-top: 6px;
  border-radius: 10px;
}

/* Each result row */
.result-item {
  display: flex;
  gap: 14px;
  padding: 12px;
  background: #f7f9fb;
  border-bottom: 1px solid #eee;
  align-items: center;
}

/* IMAGE STYLE (important part) */
.result-item img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  border-radius: 8px;
  background: #f1f3f5;
  padding: 6px;
  cursor: pointer;
}

/* Text container (right side) */
.result-item div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* Medicine name */
.result-item strong {
  font-size: 14px;
  color: #222;
}

/* Alternative label */
.alt-label {
  font-size: 12px;
  color: #6c757d;
}

/* Price */
.result-item .price {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
